/* line 17, ../gems/ruby/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

input {
    -webkit-appearance: none;
}

/* line 22, ../gems/ruby/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../gems/ruby/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 26, ../gems/ruby/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../gems/ruby/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../gems/ruby/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}
    /* line 103, ../gems/ruby/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
    q:before, q:after, blockquote:before, blockquote:after {
        content: "";
        content: none;
    }

/* line 32, ../gems/ruby/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../gems/ruby/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

/* TYPOGRAPHY
 -----------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: "AvenirBlack";
    src: url("../fonts/AvenirLTStd-Black.eot?#iefix");
    src: url("../fonts/AvenirLTStd-Black.eot?#iefix") format("eot"), url("../fonts/AvenirLTStd-Black.woff") format("woff"), url("../fonts/AvenirLTStd-Black.ttf") format("truetype"), url("../fonts/AvenirLTStd-Black.svg") format("svg");
}

@font-face {
    font-family: "AvenirBook";
    src: url("../fonts/AvenirLTStd-Book.eot?#iefix");
    src: url("../fonts/AvenirLTStd-Book.eot?#iefix") format("eot"), url("../fonts/AvenirLTStd-Book.woff") format("woff"), url("../fonts/AvenirLTStd-Book.ttf") format("truetype"), url("../fonts/AvenirLTStd-Book.svg") format("svg");
}

@font-face {
    font-family: "AvenirHeavy";
    src: url("../fonts/AvenirLTStd-Heavy.eot?#iefix");
    src: url("../fonts/AvenirLTStd-Heavy.eot?#iefix") format("eot"), url("../fonts/AvenirLTStd-Heavy.woff") format("woff"), url("../fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("../fonts/AvenirLTStd-Heavy.svg") format("svg");
}

@font-face {
    font-family: "AvenirLight";
    src: url("../fonts/AvenirLTStd-Light.eot?#iefix");
    src: url("../fonts/AvenirLTStd-Light.eot?#iefix") format("eot"), url("../fonts/AvenirLTStd-Light.woff") format("woff"), url("../fonts/AvenirLTStd-Light.ttf") format("truetype"), url("../fonts/AvenirLTStd-Light.svg") format("svg");
}

@font-face {
    font-family: "AvenirMedium";
    src: url("../fonts/AvenirLTStd-Medium.eot?#iefix");
    src: url("../fonts/AvenirLTStd-Medium.eot?#iefix") format("eot"), url("../fonts/AvenirLTStd-Medium.woff") format("woff"), url("../fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("../fonts/AvenirLTStd-Medium.svg") format("svg");
}

@font-face {
    font-family: "AvenirRoman";
    src: url("../fonts/AvenirLTStd-Roman.eot?#iefix");
    src: url("../fonts/AvenirLTStd-Roman.eot?#iefix") format("eot"), url("../fonts/AvenirLTStd-Roman.woff") format("woff"), url("../fonts/AvenirLTStd-Roman.ttf") format("truetype"), url("../fonts/AvenirLTStd-Roman.svg") format("svg");
}

/* line 37, partials/_fonts.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-weight: normal;
}

/* line 53, partials/_fonts.scss */
p, .p {
    margin: 0 0 15px 0;
}

/* line 1, _layout.scss */
html, body {
    width: 100%;
    height: 100%;
    font: 13px AvenirMedium, verdana, sans-serif;
    color: #666666;
    line-height: normal;
}

/* line 9, _layout.scss */
html {
    -webkit-font-smoothing: antialiased;
}

/* line 11, _layout.scss */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 15, _layout.scss */
.heading-font, .heading, .heading-main, .wysiwyg h1, .heading-large, .contourPageName, table th, .listing .date, .wysiwyg h2, .wysiwyg h3, .heading-medium, .wysiwyg h4, .heading-small, .wysiwyg h5, header nav ul li a, .accordion > .accordion-wrapper > a, .accordion-landing .accordion-wrapper ul.accordion-content li a {
    font-family: "AvenirHeavy", "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;
}
.heading-large {
    clear: both;
}
/* line 22, _layout.scss */
strong {
    font-weight: 700;
}

/* line 26, _layout.scss */
img {
    max-width: 100%;
    height: auto;
}

/* line 30, _layout.scss */
em {
    font-style: italic;
}

/* line 33, _layout.scss */
a {
    text-decoration: none;
    color: #00a5e2;
}

/* line 47, _layout.scss */
.inner {
    display: block;
    padding-left: 1px;
    /*padding-right: 8px;*/
}
/* line 52, _layout.scss */
.main > .inner {
    border-bottom: 1px solid #fff;
    padding: 7px 2%;
    padding-top: 5px;
    padding-bottom: 10px;
}

/* line 62, _layout.scss */
.wrapper {
    width: 960px;
    /* WIDTH OF SITE */
    margin: 0 auto;
}

/* HEADINGS */
/* line 3, _headings.scss */
.heading, .heading-main, .wysiwyg h1, .heading-large, .contourPageName, table th, .listing .date, .wysiwyg h2, .wysiwyg h3, .heading-medium, .wysiwyg h4, .heading-small, .wysiwyg h5 {
    color: #00a5e2;
}

/* line 7, _headings.scss */
.heading-main, .wysiwyg h1 {
    font-size: 21px;
    text-align: left;
    padding: 1% ;
    padding-bottom: 0%;
    padding-left: 2%;
    padding-top:3%;
}

/* line 16, _headings.scss */
.heading-large, .contourPageName, table th, .listing .date, .wysiwyg h2, .wysiwyg h3 {
    font-size: 15px;
    padding: 10px 0;
}
/* line 22, _headings.scss */
a .heading-large, a .contourPageName, a table th, table a th, a .listing .date, .listing a .date, a .wysiwyg h2, .wysiwyg a h2, a .wysiwyg h3, .wysiwyg a h3 {
    color: #232021;
}



/* line 27, _headings.scss */
.heading-medium, .wysiwyg h4 {
    color: #006a65;
    font-size: 13px;
}

/* line 33, _headings.scss */
.heading-small, .wysiwyg h5 {
    color: #006a65;
    font-size: 12px;
}

/* HEADER */
/* line 2, _header.scss */
header {
    display: block;
    background: #ffffff;
    position: relative;
    z-index: 100;
    margin-top: 2%;
}
    /* line 8, _header.scss */
    header .logo {
        float: left;
        margin-left: 4%;
    }
        /* line 11, _header.scss */
        header .logo a {
            padding: 0;
            background: url(../img/logo-prime-hip.png) no-repeat 0 0;
            width: 135px;
            height: 41px;
            display: block;
        }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    /* line 11, _header.scss */
    header .logo a {
        background: url("../img/logo-prime-hip.png") 0 0 no-repeat;
        width: 135px;
        height: 42px;
        display: block;
    }
}
/* line 31, _header.scss */
header .logo a img {
    display: none;
}
/* line 38, _header.scss */
header nav ul {
    zoom: 1;
}

#joinNav {
    background: url("../img/loginbg.png") 0px 0px no-repeat;
    width: 135px;
    height: 30px;
    margin-top: -4px;
}

    #joinNav li {
        width: 60px;
    }

    #joinNav a {
        color: white;
    }
/* line 46, partials/_mixins.scss */
header nav ul:before, header nav ul:after {
    content: "";
    display: table;
}
/* line 50, partials/_mixins.scss */
header nav ul:after {
    clear: both;
}
/* line 40, _header.scss */
header nav ul li {
    font-size: 13px;
    float: left;
}
    /* line 44, _header.scss */
    header nav ul li a {
        display: block;
    }
    /* line 50, _header.scss */
    header nav ul li.active {
        background-color: #fff;
    }
/* line 60, _header.scss */
header nav.members {
    float: right;
    padding: 10px 2%;
}
    /* line 64, _header.scss */
    header nav.members ul li {
        font-size: 12px;
        font-family: "AvenirMedium";
        line-height: 2;
        /*&:nth-of-type(2) {
  	a {
  		padding-left:20px;
  		border-left:2px solid $lighter-green;
  	}
  }*/
    }
        /* line 68, _header.scss */
        header nav.members ul li a {
            padding: 3px 18px;
            line-height: 1;
            margin: 6px 6px 0 0;
        }
        /* line 82, _header.scss */
        header nav.members ul li select {
            color: #fff;
            font-size: 12px;
            font-family: "AvenirMedium";
            background: transparent;
            border: none;
            padding: 7px 18px;
            max-width: 77px;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
        /* line 96, _header.scss */
        header nav.members ul li option {
            padding: 0;
            margin: 0;
        }
/* line 105, _header.scss */
header nav.nav-main {
    background: #fff;
    clear: both;
    width: 100%;
}
    /* line 110, _header.scss */
    header nav.nav-main > ul {
        display: table;
        table-layout: fixed;
        border-bottom: 1px solid #d9d9d9;
        border-top: 1px solid #d9d9d9;
        width: 100%;
    }
        /* line 116, _header.scss */
        header nav.nav-main > ul > li {
            display: table-cell;
            vertical-align: middle;
            float: none;
            text-align: center;
            border-left: 1px solid #d9d9d9;
            width: 29%;
            padding: 2%;
        }
            /* line 123, _header.scss */
            header nav.nav-main > ul > li:first-child {
                border-left: none;
                width: 13%;
            }
            /* line 127, _header.scss */
            header nav.nav-main > ul > li a {
                color: #505050;
                width: 100%;
                text-align: center;
                padding-top: 2px;
                font-family: AvenirMedium;
            }

    header nav.nav-main > ul {
        border-right: 1px solid #d9d9d9;
    }
    /* line 144, _header.scss */
    header nav.nav-main li.nav-drop > a span {
        text-indent: -9999px;
        margin: 0 auto;
    }
    /* line 149, _header.scss */
    header nav.nav-main li.nav-drop > a.open {
        background-color: #fff;
    }
        /* line 151, _header.scss */
        header nav.nav-main li.nav-drop > a.open span {
            background: url('../img/sprites-s9e9b306e84.png') -9px -469px;
            width: 35px;
            height: 34px;
            display: block;
            /* left: -28px; */
            /* margin-left: -10px; */
            text-align: center;
            background-repeat: no-repeat;
            /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
        }
    /* line 156, _header.scss */
    header nav.nav-main li.nav-drop ul {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 200;
        border-top: 1px solid #d9d9d9;
        margin-top: 20px;
    }
        /* line 163, _header.scss */
        header nav.nav-main li.nav-drop ul li {
            width: 100%;
            background-color: #fff;
        }
            /* line 167, _header.scss */
            header nav.nav-main li.nav-drop ul li a,
            header nav.nav-main li.nav-drop ul li input {
                width: 100%;
                padding: 15px 2%;
                display: block;
                text-align: left;
            }
    /* line 184, _header.scss */
    header nav.nav-main li.site-navigation > a span {
        background: url('../img/nav-burger.png') 0px 0px;
        width: 21px;
        height: 21px;
        display: block;
        background-repeat: no-repeat;
        margin-top: 2.5%;
        /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
    }
    /* line 196, _header.scss */
    header nav.nav-main li.site-navigation li a {
        color: #00a5e2;
        border-bottom: 1px solid #d6d5d5;
    }
    /* line 206, _header.scss */
    header nav.nav-main li.search > a span {
        background: url('../img/sprites-s9e9b306e84.png') 0 -190px;
        width: 47px;
        height: 40px;
        display: block;
        background-repeat: no-repeat;
        /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
    }
    /* line 211, _header.scss */
    header nav.nav-main li.search ul li {
        background: white;
        position: relative;
    }
        /* line 218, _header.scss */
        header nav.nav-main li.search ul li .icon {
            background: url('../img/sprites-s9e9b306e84.png') 0 -190px;
            width: 40px;
            height: 40px;
            display: block;
            background-repeat: no-repeat;
            /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
            position: absolute;
            top: 28px;
            left: 2%;
        }
        /* line 224, _header.scss */
        header nav.nav-main li.search ul li input {
            margin: 25px 2%;
            padding-left: 45px;
            width: 96%;
            border: 2px solid #d6dcc6;
            max-height: 70px;
            font-size: 15px;
            color: #006a65;
        }

/* line 248, _header.scss */
.overlay {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}
/* line 257, _header.scss */
.nav-open .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
}

/* line 1, _footer.scss */
footer {
    clear: both;
    zoom: 1;

}
.footer-graphic {
clear: both;margin-top:5px;margin-bottom:15px;
}
.footer-graphic img {
    max-width: 35%;
}
    /* line 46, partials/_mixins.scss */
    footer:before, footer:after {
        content: "";
        display: table;
    }
    /* line 50, partials/_mixins.scss */
    footer:after {
        clear: both;
    }
    /* line 7, _footer.scss */
    footer .inner {
        background: #c87b00;
        margin-top: 10px;
        margin-bottom: -17px;
        padding-left: 0px;
        padding-right: 0px;
    }
    /* line 14, _footer.scss */
    footer p,
    footer a {
        color: #efdcc9;
        font-size: 12px;
        font-family: Arial;
    }
    /* line 20, _footer.scss */
    footer p {
        margin-bottom: 10px;
    }
    /* line 27, _footer.scss */
    footer nav {
        overflow: hidden;
    }
        /* line 29, _footer.scss */
        footer nav ul {
            display: table;
            width: 100%;
            padding: 10px 0;
        }
            /* line 34, _footer.scss */
            footer nav ul li {
                display: table-cell;
                vertical-align: middle;
                border-right: 1px solid #b46e00;
                text-align: center;
                line-height: 1;
            }
                /* line 40, _footer.scss */
                footer nav ul li a {
                    padding: 10px 3px;
                    text-indent: 10px;
                }
                /* line 47, _footer.scss */
                footer nav ul li:first-child a {
                    padding-left: 0;
                }
                /* line 52, _footer.scss */
                footer nav ul li:last-child {
                    border: none;
                }
                    /* line 55, _footer.scss */
                    footer nav ul li:last-child a {
                        padding-right: 0;
                    }

    footer .innerFooter {
        background-color: #e29400;
        clear: both;
        overflow: hidden;
        width: 100%;
        padding: 3.5%;
        padding-top: 15px;
        color: #f6e1c9;
        height: 48px;
    }
/* line 2, _modules.scss */
.highlight {
    color: #f07d00;
}

/* line 7, _modules.scss */
.form {
    width: 100%;
}
    /* line 10, _modules.scss */
    .form label {
        display: block;
    }

/* line 17, _modules.scss */
input,
textarea,
button {
    width: 96%;
    padding: 10px 2%;
    margin-bottom: 10px;
}
    /* line 25, _modules.scss */
    input.submit, input[type="submit"],
    textarea.submit,
    textarea[type="submit"],
    button.submit,
    button[type="submit"] {
        width: 96%;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        border: none;
        background: #f07d00;
        -webkit-appearance: none;
    }
        /* line 36, _modules.scss */
        input.submit:hover, input.submit:active, input[type="submit"]:hover, input[type="submit"]:active,
        textarea.submit:hover,
        textarea.submit:active,
        textarea[type="submit"]:hover,
        textarea[type="submit"]:active,
        button.submit:hover,
        button.submit:active,
        button[type="submit"]:hover,
        button[type="submit"]:active {
            background: #ff9c00;
        }

/* line 44, _modules.scss */
.field-validation-error {
    color: red;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

/* line 51, _modules.scss */
.contourPageName {
    color: #006a65;
}

/* line 59, _modules.scss */
fieldset legend,
fieldset label {
    display: block;
    margin-bottom: 5px;
}

/* line 69, _modules.scss */
.main {
    background: white;
}

/* line 75, _modules.scss */
.module {
    margin-bottom: 20px;
    padding: 1%;
    position: relative;
}

/* line 82, _modules.scss */
.back {
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 3px;
    border-bottom: 1px solid #ccc;
    background-color: #f2f2f2;
    padding-left: 15px;
}
    /* line 85, _modules.scss */
    .back a {
        font-size: 15px;
        color: #666666;
        font-family: "AvenirMedium", "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;
        padding: 12px 0;
        display: block;
    }
        /* line 91, _modules.scss */
        .back a span {
            background: url('../img/sprites-s9e9b306e84.png') 0 -617px;
            width: 7px;
            height: 12px;
            display: block;
            background-repeat: no-repeat;
            /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
            float: left;
            margin: 3px 4px 0 0;
        }
    /* line 99, _modules.scss */
    .back ~ .back {
        padding-bottom: 15px;
        margin-bottom: 5px;
        margin-top: 20px;
        padding: 1.5px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

.backBottom .back {
    border-top: 1px solid #ccc;
}

/* line 109, _modules.scss */
table {
    width: 100%;
}
    /* line 114, _modules.scss */
    table tr td,
    table tr th {
        padding: 10px;
    }
    /* line 122, _modules.scss */
    table tbody tr:nth-child(2n-1) {
        background: #f6f7ea;
    }
    /* line 127, _modules.scss */
    table tbody tr:last-child td {
        padding-bottom: 15px;
    }
    /* line 139, _modules.scss */
    table th {
        color: #006a65;
    }

/* line 149, _modules.scss */
.home-nav {
    width: 100%;
    zoom: 1;
}
    /* line 46, partials/_mixins.scss */
    .home-nav:before, .home-nav:after {
        content: "";
        display: table;
    }
    /* line 50, partials/_mixins.scss */
    .home-nav:after {
        clear: both;
    }
    /* line 153, _modules.scss */
    .home-nav li {
        float: left;
        width: 50%;
    }
        /* line 157, _modules.scss */
        .home-nav li a {
            display: block;
        }
            /* line 161, _modules.scss */
            .home-nav li a .inner {
                border-left: 2px solid #d6d5d5;
            }
        /* line 167, _modules.scss */
        .home-nav li img {
            width: 100%;
            height: auto;
            display: block;
        }
        /* line 174, _modules.scss */
        .home-nav li:first-child a .inner {
            border-left-color: transparent;
        }
        /* line 180, _modules.scss */
        .home-nav li .heading-large, .home-nav li .contourPageName, .home-nav li table th, table .home-nav li th, .home-nav li .listing .date, .listing .home-nav li .date, .home-nav li .wysiwyg h2, .wysiwyg .home-nav li h2, .home-nav li .wysiwyg h3, .wysiwyg .home-nav li h3 {
            font-size: 18px;
        }

/* line 188, _modules.scss */
.accordion {
    /*.low-fees-charges {
  	span {
  		@include retinarize(acc-fees);
  	}
  	
  }
  .insuring-with-us {
  	span {
  		@include retinarize(acc-insurance);
  	}
  	
  }
  .investing-with-us {
  	span {
  		@include retinarize(acc-investment);
  	}
  	
  }
  .changing-jobs {
  	span {
  		@include retinarize(acc-jobs);
  	}
  	
  }*/
}
    /* line 190, _modules.scss */
    .accordion > .accordion-wrapper {
        border-bottom: 1px solid #d6d5d5;
    }
        /* line 192, _modules.scss */
        .accordion > .accordion-wrapper > a {
            color: #201d1e;
            font-size: 15px;
            display: block;
            padding: 15px 2%;
        }
            /* line 199, _modules.scss */
            .accordion > .accordion-wrapper > a.open {
                background: #ebebeb;
            }
        /* line 208, _modules.scss */
        .accordion > .accordion-wrapper.has-child > a .icon {
            background: url('../img/sprites-s9e9b306e84.png') 0 -1198px;
            width: 19px;
            height: 13px;
            display: block;
            background-repeat: no-repeat;
            /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
            top: 20px;
            left: auto;
            right: 2%;
            padding-bottom: 5px;
            position: absolute;
        }
        /* line 219, _modules.scss */
        .accordion > .accordion-wrapper.has-child > a.open .icon {
            background: url('../img/sprites-s9e9b306e84.png') 0 -1261px;
            width: 19px;
            height: 13px;
            display: block;
            background-repeat: no-repeat;
            /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
        }
    /* line 227, _modules.scss */
    .accordion .accordion-wrapper {
        position: relative;
    }
        /* line 233, _modules.scss */
        .accordion .accordion-wrapper span {
            position: absolute;
            top: 6px;
            left: 2%;
        }
        /* line 239, _modules.scss */
        .accordion .accordion-wrapper .accordion-content {
            display: none;
            background: #ebebeb;
        }
        /* line 245, _modules.scss */
        .accordion .accordion-wrapper li a {
            color: #006a65;
            font-family: "AvenirMedium";
        }
            /* line 249, _modules.scss */
            .accordion .accordion-wrapper li a:hover {
                background: #03aee6;
                color: white;
            }
        /* line 256, _modules.scss */
        .accordion .accordion-wrapper:nth-child(1) span {
            background: url('../img/sprites-s9e9b306e84.png') 5px -1111px;
            width: 39px;
            height: 39px;
            display: block;
            background-repeat: no-repeat;
            /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
        }
        /* line 261, _modules.scss */
        .accordion .accordion-wrapper:nth-child(2) span {
            background: url('../img/sprites-s9e9b306e84.png') 0 -931px;
            width: 39px;
            height: 39px;
            display: block;
            background-repeat: no-repeat;
            /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
        }
        /* line 267, _modules.scss */
        .accordion .accordion-wrapper:nth-child(3) span {
            background: url('../img/sprites-s9e9b306e84.png') 0 -1020px;
            width: 39px;
            height: 39px;
            display: block;
            background-repeat: no-repeat;
            /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
        }
        /* line 273, _modules.scss */
        .accordion .accordion-wrapper:nth-child(4) span {
            background: url('../img/sprites-s9e9b306e84.png') 0 -842px;
            width: 39px;
            height: 39px;
            display: block;
            background-repeat: no-repeat;
            /*@media only screen and (-webkit-min-device-pixel-ratio : 2),
  only screen and (min-device-pixel-ratio : 2) {
    background          : sprite($retinaMap, $sprite);
    background-position : floor( nth( sprite-position($retinaMap, $sprite), 1 ) / 2  ) floor( nth( sprite-position($retinaMap, $sprite), 2 ) / 2 );
    width               : image-width(  sprite-file( $normalMap, $sprite ) );
    height              : image-height( sprite-file( $normalMap, $sprite ) );
    background-size     : $maxW / 2;
    display             : block;
    background-repeat:no-repeat;
  }*/
        }

/* line 311, _modules.scss */
.accordion-landing .accordion-wrapper a {
    padding-left: 55px;
}
/* line 318, _modules.scss */
.accordion-landing .accordion-wrapper ul.accordion-content li a {
    font-size: 15px;
    display: block;
    padding: 15px 2% 15px 55px;
    color: #201d1e;
    font-family: AvenirMedium;
}
    /* line 327, _modules.scss */
    .accordion-landing .accordion-wrapper ul.accordion-content li a:hover {
        background: #03aee6;
        color: white;
    }

/* line 338, _modules.scss */
.accordion.wysiwyg .accordion-content {
    padding: 0 2% 20px;
    font-family: AvenirMedium, verdana, sans-serif;
}

/* line 344, _modules.scss */
.tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}
    /* line 351, _modules.scss */
    .tabs > li {
        display: table-cell;
        font-size: 15px;
        text-align: center;
        font-family: AvenirMedium;
    }

.tabs-primary > li {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.tabs-primary li:last-child {
    border-right: 0px;
}
/* line 355, _modules.scss */
.tabs > li span {
    display: block;
    height: 100%;
}
/* line 359, _modules.scss */
.tabs > li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 4%;
    font-family: "AvenirMedium", "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;
}

.tabs > li:first-child a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 4%;
    text-align: center;
    font-family: "AvenirMedium", "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;
}

/* line 372, _modules.scss */
.tabs-primary > li a {
    background: #f2f2f2;
    color: #484647;
}
/* line 379, _modules.scss */
.tabs-primary > li.active a {
    background: white;
    color: #333333;
    font-weight: bold;
}

.tabs-primary > li.active {
    border-bottom: 0px;
}
/* line 386, _modules.scss */
.investment-options {
    margin: 2%;
    border: 1px solid #ccc;
    padding-bottom: 25px;
}

    .investment-options .tabs-primary {
        border-top: 1px solid #ececec;
    }

/* line 393, _modules.scss */
.tabs-secondary {
    margin-top: 12px;
}
    /* line 396, _modules.scss */
    .tabs-secondary > li a {
        color: #666666;
        width: 92%;
        text-align: center;
        vertical-align: middle;
        background: url("/resources/mobile/img/cut-corner2.jpg") top right no-repeat #f2f2f2;
    }
    /* line 404, _modules.scss */
    .tabs-secondary > li.active a {
        background: url("/resources/mobile/img/cut-corner.jpg") left bottom no-repeat #00a5e2;
        color: white;
    }
    /* line 411, _modules.scss */
    .tabs-secondary + div {
        width: 100%;
    }

/* line 416, _modules.scss */
.tabs-tertiary {
    margin-top: 12px;
}
    /* line 421, _modules.scss */
    .tabs-tertiary > li a {
        color: #006a65;
        background: #ebebeb;
        border: 1px #c8c7c7;
        border-style: solid none none solid;
        padding-left: 10px;
    }
        /* line 427, _modules.scss */
        .tabs-tertiary > li a span {
            display: block;
        }
    /* line 434, _modules.scss */
    .tabs-tertiary > li.active a {
        background: white;
    }
    /* line 440, _modules.scss */
    .tabs-tertiary > li:last-child a {
        border-right-style: solid;
    }
    /* line 446, _modules.scss */
    .tabs-tertiary ~ div {
        border: 1px solid #c8c7c7;
        border-style: none solid;
    }
        /* line 450, _modules.scss */
        .tabs-tertiary ~ div table {
            border-bottom: 1px solid #c8c7c7;
        }
            /* line 456, _modules.scss */
            .tabs-tertiary ~ div table th {
                padding-top: 20px;
            }
            /* line 463, _modules.scss */
            .tabs-tertiary ~ div table tr td:last-child {
                float: right;
            }

/* line 472, _modules.scss */
.tab-content {
    padding: 0 2%;
}

/* line 476, _modules.scss */
.listing {
    /*border-bottom: 1px solid #d6d5d5;*/
    margin-bottom: 0;
}
    /* line 480, _modules.scss */
    .listing .heading-large, .listing .contourPageName, .listing table th, table .listing th, .listing .date, .listing .wysiwyg h2, .wysiwyg .listing h2, .listing .wysiwyg h3, .wysiwyg .listing h3 {
        color: #3D6AAC;
    }
    .listing .contourPageName {
        color: #232021;
        font-size: 16px;
    }
    /* line 484, _modules.scss */
    .listing .date {
        display: block;
        color: #484647!important;
        padding-bottom: 0px;
    }
        /* line 491, _modules.scss */
        .listing .date + .heading-large, .listing .date + .contourPageName, .listing table .date + th, table .listing .date + th, .listing .date + .date, .listing .wysiwyg .date + h2, .wysiwyg .listing .date + h2, .listing .wysiwyg .date + h3, .wysiwyg .listing .date + h3 {
            padding-top: 0;
        }
    /* line 496, _modules.scss */
    .listing a.inner {
        display: block;
        padding-right: 10%;
        position: relative;
        color: #666666;
    }
        /* line 501, _modules.scss */
        .listing a.inner .icon {
            background: url('../img/sprites-s9e9b306e84.png') 0 -548px;
            width: 15px;
            height: 23px;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            right: 2%;
            top: 50%;
        }
    /* line 512, _modules.scss */
    .listing.contact-listing .inner {
        zoom: 1;
    }
        /* line 46, partials/_mixins.scss */
        .listing.contact-listing .inner:before, .listing.contact-listing .inner:after {
            content: "";
            display: table;
        }
        /* line 50, partials/_mixins.scss */
        .listing.contact-listing .inner:after {
            clear: both;
        }
        /* line 516, _modules.scss */
        .listing.contact-listing .inner img {
            float: left;
            max-width: 17%;
            clear: left;
            margin-bottom: 20px;
            height: auto !important;
        }
        /* line 524, _modules.scss */
        .listing.contact-listing .inner ul {
            max-width: 80%;
            width: 100%;
            float: right;
        }
            /* line 528, _modules.scss */
            .listing.contact-listing .inner ul li {
                font-size: 13px;
            }

/* line 539, _modules.scss */
.inner h1.heading-main + p, .inner .wysiwyg h1 + p, .wysiwyg .inner h1 + p {
    font-size: 13px;
}
    /* line 541, _modules.scss */
    .inner h1.heading-main + p .highlight, .inner .wysiwyg h1 + p .highlight, .wysiwyg .inner h1 + p .highlight {
        font-weight: 700;
    }

.listing .heading-large {
    color: #232021;
}

/* line 550, _modules.scss */
.moduleWysiwyg h2 {
    font-size: 18px;
    padding: 10px 0 5px;
    margin-bottom: 15px;
    display: block;
    border-top: 1px solid #d6d5d5;
    color: #232021;
    font-family: AvenirHeavy;
}
/* line 559, _modules.scss */
.moduleWysiwyg ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 18px;
}
/* line 565, _modules.scss */
.moduleWysiwyg li {
    margin-bottom: 5px;
}

/* line 574, _modules.scss */
.sitemap ul {
    list-style-type: disc;
    padding-left: 30px;
}
    /* line 583, _modules.scss */
    .sitemap ul a {
        line-height: 20px;
    }
    /* line 587, _modules.scss */
    .sitemap ul ul {
        list-style-type: circle;
    }

/* line 595, _modules.scss */
.moduleLinksList .item {
    border-bottom: 1px solid #d6d5d5;
    clear: both;
    float: left;
    width: 100%;
    padding: 10px 2%;
}
    /* line 603, _modules.scss */
    .moduleLinksList .item > a {
        float: left;
        width: 25%;
    }
    /* line 608, _modules.scss */
    .moduleLinksList .item .details {
        float: right;
        overflow: hidden;
        width: 68%;
    }
    /* line 616, _modules.scss */
    .moduleLinksList .item h3 > a {
        display: block;
        color: #666666;
        font-size: 18px;
    }

/* line 627, _modules.scss */
.styled-select {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    height: 41px;
    margin-top: 20px;
}
    /* line 635, _modules.scss */
    .styled-select:after {
        content: '';
        background: url('../img/sprites-s9e9b306e84.png') 0 -369px;
        width: 40px;
        height: 41px;
        display: block;
        background-repeat: no-repeat;
        position: absolute;
        right: 1px;
        bottom: 0px;
    }

/* line 646, _modules.scss */
.performance-selector {
    width: calc(97% + 2px);
    border: #ccc 1px solid;
    height: 40px;
    padding: 10px;
    font-family: AvenirMedium;
    color: #a4a4a4;
    font-size: 15px;
    background: transparent;
    -webkit-appearance: none;
    position: relative;
    z-index: 10;
    BORDER-RIGHT: 0PX;
}


/* line 663, _modules.scss */
option {
    padding: 0;
    margin: 0;
}

/* line 672, _modules.scss */
.data-row table {
    table-layout: fixed;
}
/* line 676, _modules.scss */
.data-row + p {
    margin-top: 20px;
}

/* line 681, _modules.scss */
.moduleControls {
    margin: 10px 0 0;
    padding: 10px 2%;
    clear: both;
    zoom: 1;
}
    /* line 46, partials/_mixins.scss */
    .moduleControls:before, .moduleControls:after {
        content: "";
        display: table;
    }
    /* line 50, partials/_mixins.scss */
    .moduleControls:after {
        clear: both;
    }
    /* line 687, _modules.scss */
    .moduleControls .paging {
        float: left;
        width: 85%;
    }
        /* line 691, _modules.scss */
        .moduleControls .paging h4 {
            float: left;
            margin: 10px 21px 0 0;
            line-height: 1;
            color: #666666;
            font-size: 13px;
        }
        /* line 699, _modules.scss */
        .moduleControls .paging ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
            /* line 703, _modules.scss */
            .moduleControls .paging ul li {
                float: left;
                margin: 0 6px 0 0;
                line-height: 1;
            }
                /* line 707, _modules.scss */
                .moduleControls .paging ul li a {
                    display: block;
                    font-weight: bold;
                    color: #666666;
                    padding: 10px 12px;
                    text-decoration: none;
                    border: 1px solid #fff;
                }
                    /* line 717, _modules.scss */
                    .moduleControls .paging ul li a:hover {
                        text-decoration: none;
                        font-weight: bold;
                        color: #f07d00;
                        border-color: #f07d00;
                    }
                /* line 727, _modules.scss */
                .moduleControls .paging ul li.on a {
                    font-weight: bold;
                    border: 1px solid #CCC;
                    color: #7e7e7e;
                    background: #f2f2f2;
                }

/* line 742, _modules.scss */
.moduleWysiwyg ul {
    padding-left: 4%;
    list-style: disc;
    margin-bottom: 10px;
}
    /* line 746, _modules.scss */
    .moduleWysiwyg ul li {
        margin-bottom: 5px;
    }

/* line 755, _modules.scss */
.subContent .accordion .accordion-wrapper span {
    background: none;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

/* WYSIWYG (Standard Content)
 -----------------------------------------------------------------------------------------------------------*/
/* line 3, partials/_wysiwyg.scss */
.wysiwyg {
    /*table { 
  		width:670px;
  		margin-bottom:40px;
  		
  		tr {
  			
  			th {
  				text-align:left;
  				height:24px;
  				padding:15px 5px 0;
  				border-bottom:2px solid #d9d9d9;
  				font-size:1.25em;
  				color:black;
  				font-weight:bold; 
  			}
  			
  			td { 
  				text-align:left;
  				height:23px;
  				padding:8px 5px 0;
  				border-bottom:1px solid #d9d9d9;
  				font-size:1.25em;
  				&:first-child { font-weight:bold;}
  				&:last-child { width:360px; }
  			}
  
  		}
  	}*/
}
    /* line 9, partials/_wysiwyg.scss */
    .wysiwyg a {
        color: #dfb500;
    }
    /* line 13, partials/_wysiwyg.scss */
    .wysiwyg img {
        display: block;
        float: left;
        margin: 0 0 10px 0;
        border: 0;
        padding: 0;
        height: auto !important;
    }
        /* line 20, partials/_wysiwyg.scss */
        .wysiwyg img.right {
            float: right;
        }
    /* line 23, partials/_wysiwyg.scss */
    .wysiwyg figure {
        display: block;
        margin: 10px;
    }
        /* line 26, partials/_wysiwyg.scss */
        .wysiwyg figure img {
            float: none;
            margin: 0;
        }
        /* line 30, partials/_wysiwyg.scss */
        .wysiwyg figure figcaption {
            display: block;
        }
    /* line 33, partials/_wysiwyg.scss */
    .wysiwyg .firstParagraph {
        font-size: 1.667em;
    }
    /* line 45, partials/_wysiwyg.scss */
    .wysiwyg h3 {
        color: #006a65;
    }
    /* line 60, partials/_wysiwyg.scss */
    .wysiwyg b,
    .wysiwyg strong {
        font-weight: bold;
    }
    /* line 63, partials/_wysiwyg.scss */
    .wysiwyg i,
    .wysiwyg em {
        font-style: italic;
    }
    /* line 65, partials/_wysiwyg.scss */
    .wysiwyg ul {
        margin: 0 0 30px 15px;
    }
        /* line 68, partials/_wysiwyg.scss */
        .wysiwyg ul li {
            list-style: square;
        }
    /* line 71, partials/_wysiwyg.scss */
    .wysiwyg ol {
        margin: 0 0 30px 0px;
        list-style-type: decimal;
        list-style-position: outside;
        padding-left: 18px;
    }
/* line 75, partials/_wysiwyg.scss */
.ie7 .wysiwyg ol {
    margin-left: 25px;
}
/* line 77, partials/_wysiwyg.scss */
.ie8 .wysiwyg ol, .ie9 .wysiwyg ol {
    margin-left: 28px;
}
/* line 79, partials/_wysiwyg.scss */
.wysiwyg ol li {
    margin-bottom: 5px;
}
/* line 93, partials/_wysiwyg.scss */
.wysiwyg blockquote {
    margin: 0 0 20px 40px;
    float: left;
    width: 160px;
    display: block;
    font-size: 1.667em;
    font-family: Arial;
    padding: 10px 0 0 20px;
}
    /* line 101, partials/_wysiwyg.scss */
    .wysiwyg blockquote.right {
        float: right;
    }

/* MEDIA QUERIES
 -----------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 320px) {
    /* Style adjustments for viewports 480px and over go here */

    header nav.members {
    padding: 10px 12px;
}

}

@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */

    header nav.members {
    padding: 10px 17px;
}


}

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */
}
/* PRINT STYLES
 -----------------------------------------------------------------------------------------------------------*/
@media print {
    /* line 3, partials/_print.scss */
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    /* Black prints faster: h5bp.com/s */
    /* line 4, partials/_print.scss */
    a, a:visited {
        text-decoration: underline;
    }

        /* line 5, partials/_print.scss */
        a[href]:after {
            content: " (" attr(href) ")";
        }

    /* line 6, partials/_print.scss */
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /* line 7, partials/_print.scss */
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* Don't show links for images, or javascript/internal links */
    /* line 8, partials/_print.scss */
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /* line 9, partials/_print.scss */
    thead {
        display: table-header-group;
    }

    /* h5bp.com/t */
    /* line 10, partials/_print.scss */
    tr, img {
        page-break-inside: avoid;
    }

    /* line 11, partials/_print.scss */
    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    /* line 13, partials/_print.scss */
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    /* line 14, partials/_print.scss */
    h2, h3 {
        page-break-after: avoid;
    }
}
/* ACCESSABILITY
 -----------------------------------------------------------------------------------------------------------*/
/* line 2, partials/_accessibility.scss */
.skipToContent {
    position: absolute;
    left: -2000px;
    background: black;
    border-top: none;
    padding: 15px 20px;
    color: #fff;
    font-size: 1.334em;
    font-family: Arial;
    top: 0;
}
    /* line 13, partials/_accessibility.scss */
    .skipToContent:focus {
        position: absolute;
        left: 10px;
    }
    /* line 14, partials/_accessibility.scss */
    .skipToContent:hover {
        text-decoration: none;
        background: grey;
        color: #fff;
    }

/* line 17, partials/_accessibility.scss */
.offset {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    /* line 17, partials/_mixins.scss */
    .offset.focusable:active, .offset.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
    .contourPage input[type=text] {
        background-color: #f2f2f2;
        border: 1px solid #d2d2d2;
        -webkit-appearance: none;
          border-radius: 0px;
          width:100%
    }

      .contourPage textarea {
        background-color: #f2f2f2;
        border: 1px solid #d2d2d2;
      -webkit-appearance: none;
          border-radius: 0px;
          width: 100%
    }
       .contourNavigation input[type=submit] {
           background-color: #e29400;
           height: 40px;
           width: 96%;
           -webkit-appearance: none;
          border-radius: 0px;
       }

      
      .contourNavigation::before {
          content: url(../img/btn_cutcorner_left.jpg);width: 12px;height: 40px;position: absolute;
      }

       .contourNavigation::after {
          content: url(../img/btn_cutcorner_right.jpg);width: 12px;height: 40px;position: absolute;
      }

       .lineDivider {

           width: 100%;
           height: 1px;
           background-color: #d2d2d2;
           margin-top: 10px;
           margin-bottom: 10px;
           clear: both;
       }

       .contourIndicator {
           color: #23a9db;
       }